@import url("https://fonts.cdnfonts.com/css/inter");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      --background: 0 0% 100%;
      --foreground: 240 10% 3.9%;
      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;
      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;
      --primary: 346.8 77.2% 49.8%;
      --primary-foreground: 355.7 100% 97.3%;
      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;
      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 46.1%;
      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;
      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
      --ring: 346.8 77.2% 49.8%;
      --radius: 0.75rem;
      --chart-1: 12 76% 61%;
      --chart-2: 173 58% 39%;
      --chart-3: 197 37% 24%;
      --chart-4: 43 74% 66%;
      --chart-5: 27 87% 67%;
      --font-1: "Inter", sans-serif;
   }

   .dark {
      --background: 20 14.3% 4.1%;
      --foreground: 0 0% 95%;
      --card: 24 9.8% 10%;
      --card-foreground: 0 0% 95%;
      --popover: 0 0% 9%;
      --popover-foreground: 0 0% 95%;
      --primary: 346.8 77.2% 49.8%;
      --primary-foreground: 355.7 100% 97.3%;
      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;
      --muted: 0 0% 15%;
      --muted-foreground: 240 5% 64.9%;
      --accent: 12 6.5% 15.1%;
      --accent-foreground: 0 0% 98%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 85.7% 97.3%;
      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 346.8 77.2% 49.8%;
      --chart-1: 220 70% 50%;
      --chart-2: 160 60% 45%;
      --chart-3: 30 80% 55%;
      --chart-4: 280 65% 60%;
      --chart-5: 340 75% 55%;
   }
}

@layer base {
   * {
      @apply border-border;
   }
   body {
      @apply bg-background text-foreground min-w-[320px] font-font-1;
   }
   .container {
      @apply max-lg:!p-4;
   }

   #wordpress-contents {
      @apply mt-10 mb-16 

      [&_img]:mt-6 [&_img]:rounded-sm [&_img]:w-full
      
      [&_p]:leading-7 [&_p]:text-md md:[&_p]:text-lg [&_p:not(:first-child)]:mt-6 
      
      [&_h1]:mt-6 [&_h1]:scroll-m-20 [&_h1]:text-[28px] [&_h1]:leading-none [&_h1]:font-extrabold min-[400px]:[&_h1]:text-4xl min-[400px]:[&_h1]:tracking-tight lg:[&_h1]:text-5xl

      [&_h2]:mt-6 [&_h2]:scroll-m-20 [&_h2]:border-b [&_h2]:pb-2 [&_h2]:text-3xl [&_h2]:font-semibold [&_h2]:tracking-tight [&_h2:first-child]:mt-0

      [&_h3]:mt-6 [&_h3]:scroll-m-20 [&_h3]:text-2xl [&_h3]:font-semibold [&_h3]:tracking-tight
      
      [&_h4]:mt-6 [&_h4]:scroll-m-20 [&_h4]:text-xl lg:[&_h4]:text-2xl [&_h4]:font-medium [&_h4]:tracking-tight  

      [&_h5]:mt-6 [&_h5]:font-medium

      [&_h6]:mt-6 [&_h6]:font-medium
      
      [&_ul]:mt-6 [&_ul]:ml-6 [&_ul]:list-disc 
      
      [&_ol]:mt-6 [&_ol]:ml-6 [&_ol]:list-decimal
      
      [&_li:not(:first-child)]:mt-2 [&_li]:text-md md:[&_li]:text-lg 
      
      [&_a]:text-md md:[&_a]:text-lg [&_a]:underline-offset-2 [&_a:hover]:underline;
   }
}
